<div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <span data-feather="home"></span>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users">
                <span data-feather="users"></span>
                Users
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/trello">
                <span data-feather="trello"></span>
                Trello
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/clickup">
                <span data-feather="chevron-up"></span>
                ClickUp
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" crossorigin="anonymous"></script>
    <script>

      feather.replace();

    </script>